.header-top{
    display: none!important;
}
.div-language{
    display: none!important;
}
.col-header-left{
}
.div-header-left{
    width: 100%; padding: 15px; text-align: center;
}
.div-header-left img{
    width: auto; height: 50px;
}
.col-header-center{
}
.col-header-right{
}
.div-header-right{
    width: 100%; padding-top: 28px; padding-right: 30px; text-align: right;
}
.div-header-right i{
    margin-right: 10px;
}
@media (min-width: 992px) {
    .col-header-left{
        border-bottom: 1px solid #BBBBBB; border-right: 1px solid #BBBBBB; width: 22%;
    }
    .col-header-center{
        border-bottom: 1px solid #BBBBBB; padding-top: 10px; text-transform: uppercase;
    }
    .col-header-right{
        border-bottom: 1px solid #BBBBBB; width: 19.6666%;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0 8px;
    }
    Header .header-bottom .navbar-light a, Header .header-bottom .navbar-light .navbar-nav a{
        font-weight: 300;
    }
    Header .header-bottom{
        position: fixed; width: 100%; left: 0; top: 0;
    }
    .div-header-hidden{
        width: 100%; height: 80px;
    }
}
@media (min-width: 1440px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1620px;
    }
    .container-fuild{
        max-width: 1620px; margin: 0 auto; position: relative;
    }
}
@media (min-width: 1840px) {
    .container-fuild{
        max-width: 1780px; margin: 0 auto; position: relative;
    }
}
@media(max-width: 991px){
    .col-header-left{
        display: none;
    }
    .col-header-center{
    }
    .col-header-right{
        display: none;
    }
}


/* div-tin-tuc */
.div-tin-tuc{
    width: 100%; height: auto; padding: 15px 0 50px 0; border-top: 1px solid #BBBBBB;
}
.div-tin-tuc .tin-tuc-title{
    text-align: center; color: #fff; font-weight: bold; text-transform: uppercase; margin-bottom: 25px;
}
.div-tin-tuc .tin-tuc-all-item{
    width: 100%; height: auto; padding: 0px 20px 0px 20px; background-color: #fff;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item{
    width: 100%; height: auto; padding: 0px 0;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-img{
    width: 100%; height: auto;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-img img{
    width: 100%; height: auto;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content{
    width: 100%; height: auto;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content a{
    color: black; text-decoration: none;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content .p1{
    margin: 0; padding: 0;
    overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content .p1::after {
    content: '';
    height: 20px;
    width: 20px;
    background: url('../assets/images/main_board_new_icon_grayver.gif') no-repeat;
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content .p2{
    margin: 0; padding: 0; color: grey; font-size: 13px;
    overflow: hidden; display: -webkit-box; -webkit-line-clamp: 5; line-clamp: 5W; -webkit-box-orient: vertical;
}
.div-tin-tuc .tin-tuc-all-item .div-line-top{
    width: 100%; height: 20px;
}
.div-tin-tuc .tin-tuc-all-item .div-line-bottom{
    width: 100%; height: 20px; border-top: dashed 2px #ececec; margin-top: 20px;
}
@media(min-width: 992px){
    .div-tin-tuc .tin-tuc-all-item .tin-tuc-item .col-md-4{
        width: 40%;
    }
    .div-tin-tuc .tin-tuc-all-item .tin-tuc-item .col-md-8{
        width: 60%; padding-left: 0;
    }
}


/* div-lien-he */
.div-lien-he{
    width: 100%; height: auto; padding: 30px 10px 10px 10px;
}
.div-lien-he .div-lien-he-2{
    width: 100%; height: auto; padding: 0px 0;
}
.div-lien-he .div-lien-he-2 button{
    width: 100%; height: 50px; background-color: #fff; border: 1px solid #9B9B9B; border-radius: 4px; margin-bottom: 20px; font-weight: bold;
}
.div-lien-he .div-lien-he-2 button:hover{
    color: #F47920;
}
.div-lien-he .div-lien-he-3{
    width: 100%; height: auto; padding: 0px 0px;
}
.div-lien-he .div-lien-he-4{
    width: 100%; height: auto; padding: 0px 0px;
}
@media (min-width: 992px) {
    .div-lien-he{
        padding: 30px 30px 10px 30px;
    }
    .div-lien-he .div-lien-he-3{
        border-left: 1px solid #9B9B9B; min-height: 190px; padding: 0px 25px;
    }
    .div-lien-he .div-lien-he-4{
        border-left: 1px solid #9B9B9B; min-height: 190px; padding: 0px 10px;
    }
    .div-lien-he .col-md-3-1{
        width: 20%;
    }
    .div-lien-he .col-md-3-2{
        width: 25%;
    }
    .div-lien-he .col-md-3-3{
        width: 28%;
    }
    .div-lien-he .col-md-3-4{
        width: 27%;
    }
}

/* modal-yeu-cau-bao-gia */
#modal-yeu-cau-bao-gia{
    text-align: center;
}
#modal-yeu-cau-bao-gia .modal-header{
    display: unset; position: relative; background-color: #F47920; color: #fff; border-bottom: 1px solid #F47920;
}
#modal-yeu-cau-bao-gia .modal-header button{
    position: absolute; right: 20px; top: 20px;
}
#modal-yeu-cau-bao-gia .modal-body{
    background-color: #F47920; color: #fff;
}
#modal-yeu-cau-bao-gia .modal-body .form-group{
    margin: 10px 0px;
}
#modal-yeu-cau-bao-gia .modal-footer{
    background-color: #F47920; color: #fff; border-top: 1px solid #F47920;
}
#modal-yeu-cau-bao-gia input{
    width: 100%; height: 50px; border: 0px; border-radius: 8px;
}
#modal-yeu-cau-bao-gia .btn-dang-ky{
    width: 100%; height: 50px; border: 0px; border-radius: 8px; background-color: #000000; color: #fff;
}
@media (min-width: 992px) {
    #modal-yeu-cau-bao-gia .modal-body{
        padding: 0 80px;
    }
}

/* modal-dang-ky-nhan-tin */
#modal-dang-ky-nhan-tin{
    text-align: center;
}
#modal-dang-ky-nhan-tin .modal-header{
    display: unset; position: relative; background-color: #F47920; color: #fff; border-bottom: 1px solid #F47920;
}
#modal-dang-ky-nhan-tin .modal-header button{
    position: absolute; right: 20px; top: 20px;
}
#modal-dang-ky-nhan-tin .modal-body{
    background-color: #F47920; color: #fff;
}
#modal-dang-ky-nhan-tin .modal-body .form-group{
    margin: 10px 0px;
}
#modal-dang-ky-nhan-tin .modal-footer{
    background-color: #F47920; color: #fff; border-top: 1px solid #F47920;
}
#modal-dang-ky-nhan-tin input{
    width: 100%; height: 50px; border: 0px; border-radius: 8px;
}
#modal-dang-ky-nhan-tin .btn-dang-ky{
    width: 100%; height: 50px; border: 0px; border-radius: 8px; background-color: #000000; color: #fff;
}
@media (min-width: 992px) {
    #modal-dang-ky-nhan-tin .modal-body{
        padding: 0 80px;
    }
}


/* div-footer */
.div-footer{
    width: 100%; height: auto; padding: 0px 10px 0px 10px; background-color: #000000; color: #fff;
}
.div-footer .div-footer-1{
    width: 100%; height: auto; padding: 20px 10px;
}
.div-footer .div-footer-1 a{
    color: #fff; text-decoration: none;
}
.div-footer .div-footer-2{
    width: 100%; height: auto; padding: 20px 0; text-align: right;
}
.div-footer .div-footer-2 .elementor-grid-item{
    background-color: #000000; margin: 0 8px; border-radius: 30px;
}
.div-footer .div-footer-2 .elementor-grid-item.elementor-grid-item-facebook{
    padding: 10px 6px 15px 10px;
}
.div-footer .div-footer-2 .elementor-grid-item.elementor-grid-item-twitter{
    padding: 10px 6px 15px 10px;
}
.div-footer .div-footer-2 .elementor-grid-item.elementor-grid-item-youtube{
    padding: 10px 6px 15px 10px;
}
.div-footer .div-footer-2 .elementor-grid-item.elementor-grid-item-instagram{
    padding: 10px 6px 15px 10px;
}
.div-footer .div-footer-2 a{
    color: #fff; text-decoration: none;
}
.div-footer .div-footer-2 a svg{
    width: 25px; height: 25px;
}
.div-footer .div-footer-2 a svg path{
    fill: #fff;
}
.div-footer .div-footer-2 .elementor-grid-item:hover{
    background-color: #F47920;
}
.div-footer .div-footer-2 .elementor-grid-item:hover svg path{
    fill: #000000;
}
.div-footer .div-footer-3{
    width: 100%; height: auto; padding: 8px 10px; border-top: 1px solid #fff; color: #fff;
}
.div-footer .div-footer-3 p{
    margin: 0;
}
.div-footer .div-footer-3 a{
    color: #fff; text-decoration: none;
}
.div-footer .div-footer-4{
    width: 100%; height: auto; padding: 8px 10px; border-top: 1px solid #fff; color: #fff; text-align: center;
}
.div-footer .div-footer-4 p{
    margin: 0;
}
.div-footer .div-footer-4 a{
    color: #fff; text-decoration: none;
}
@media (min-width: 992px) {
    .div-footer{
        /* padding: 30px 30px 10px 30px; */
    }
}


/* video_list */
.video_list{
    width: 100%; height: auto; padding: 50px 0 0px 0; border-top: 1px solid #BBBBBB;
}
.video_list .title_section{
    text-transform: uppercase;
}
.video_list .video_list_items{
    width: 100%; height: auto; padding: 0 5px;
}
.video_list .video_list_items iframe{
    margin-bottom: 10px; margin-top: 10px;
}


/* .blog_list */
.blog_list{
    padding-top: 1px;
}