.header-top{
    display: none!important;
}
.div-language{
    display: none!important;
}
.col-header-left{
}
.div-header-left{
    width: 100%; padding: 15px; text-align: center;
}
.div-header-left img{
    width: auto; height: 50px;
}
.col-header-center{
}
.col-header-right{
}
.div-header-right{
    width: 100%; padding-top: 28px; padding-right: 30px; text-align: right;
}
.div-header-right i{
    margin-right: 10px;
}
@media (min-width: 992px) {
    .col-header-left{
        border-bottom: 1px solid #BBBBBB; border-right: 1px solid #BBBBBB; width: 22%;
    }
    .col-header-center{
        border-bottom: 1px solid #BBBBBB; padding-top: 10px; text-transform: uppercase;
    }
    .col-header-right{
        border-bottom: 1px solid #BBBBBB; width: 19.6666%;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0 8px;
    }
    Header .header-bottom .navbar-light a, Header .header-bottom .navbar-light .navbar-nav a{
        font-weight: 300;
    }
    Header .header-bottom{
        position: fixed; width: 100%; left: 0; top: 0;
    }
    .div-header-hidden{
        width: 100%; height: 80px;
    }
}
@media(max-width: 991px){
    .col-header-left{
        display: none;
    }
    .col-header-center{
    }
    .col-header-right{
        display: none;
    }
}


/* div-tin-tuc */
.div-tin-tuc{
    width: 100%; height: auto; padding: 15px 0 50px 0; border-top: 1px solid #BBBBBB;
}
.div-tin-tuc .tin-tuc-title{
    text-align: center; color: #fff; font-weight: bold; text-transform: uppercase; margin-bottom: 25px;
}
.div-tin-tuc .tin-tuc-all-item{
    width: 100%; height: auto; padding: 0px 20px 0px 20px; background-color: #fff;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item{
    width: 100%; height: auto; padding: 0px 0;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-img{
    width: 100%; height: auto;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-img img{
    width: 100%; height: auto;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content{
    width: 100%; height: auto;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content a{
    color: black; text-decoration: none;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content .p1{
    margin: 0; padding: 0;
    overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content .p1::after {
    content: '';
    height: 20px;
    width: 20px;
    background: url('../assets/images/main_board_new_icon_grayver.gif') no-repeat;
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
}
.div-tin-tuc .tin-tuc-all-item .tin-tuc-item .tin-tuc-item-content .p2{
    margin: 0; padding: 0; color: grey; font-size: 13px;
    overflow: hidden; display: -webkit-box; -webkit-line-clamp: 5; line-clamp: 5W; -webkit-box-orient: vertical;
}
.div-tin-tuc .tin-tuc-all-item .div-line-top{
    width: 100%; height: 20px;
}
.div-tin-tuc .tin-tuc-all-item .div-line-bottom{
    width: 100%; height: 20px; border-top: dashed 2px #ececec; margin-top: 20px;
}
@media(min-width: 992px){
    .div-tin-tuc .tin-tuc-all-item .tin-tuc-item .col-md-4{
        width: 40%;
    }
    .div-tin-tuc .tin-tuc-all-item .tin-tuc-item .col-md-8{
        width: 60%; padding-left: 0;
    }
}